.list {
    margin-left: 5.6rem;
    font-size: 1.25rem;
    margin-top: 2rem;
}

.title-list {
    margin-bottom: 2rem;
    margin-left: 1rem;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Poppins';
    font-style: normal;
}

.text-city {
    padding: 1.1rem;
    font-weight: 600;
    margin-right: 20rem;
}

.fields {
    display: flex;
}