* {
    margin: 0;
    padding: 0;
}


.list {
    margin-top: 2rem;
}

.title-list {
    margin-bottom: 2rem;
    margin-left: 6.6rem;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Poppins';
    font-style: normal;
}

.search-input {
    background-size: 20px 20px;
    background-position: 5% 50%; 
    background-repeat: no-repeat;
    padding-left: 1.7rem; 
    background: linear-gradient(180deg, #957DCD , #523D7F );
    border-radius: 0.9rem;
    width: 17rem;
    height: 2.2rem;
    margin-left: 0.9rem;
    margin-right: 1rem;
    color: white;
    width: 21rem;
    margin-top: 0.1rem;
}

.img-search:hover {
    cursor: pointer;
}

.label-input {
    margin-left: 5.4rem;
}

.text-city {
    padding: 1.1rem;
    font-weight: 600;
    margin-left: 0.1rem;
}

.card-city {
    background: linear-gradient(360deg, #957DCD 29%, #523D7F 100%);
    border-radius: 0.93rem;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: auto;
    width: 71rem;
}

.city-weather {
    align-items: center;
    margin-left: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 19rem;
}

.table-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20rem;
    font-weight: 600; 
    width: 76rem;
}

.column-list {
    margin-left: 0.5rem;
}

.table-column > div:first-child  {
    margin-left: 3.5rem;
}

.table-column > div:nth-child(2) {
    margin-left: 1.2rem;
}

.table-column > div:nth-child(3) {
    padding-right: 10rem;
}

.city-weather td:nth-child(3) {
    width: 8rem;
}

.table-list {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 12rem;
}

.editIcon {
    margin-right: 1rem;
}

.editIcon:hover {
    cursor: pointer;
}

.deleteIcon:hover {
    cursor: pointer;
}
