.btn-register {
    background: linear-gradient(180deg, #957DCD , #523D7F );
    margin-left: 1.68rem;
    margin-right: 1.68rem;
    height: 3rem;
    width: 15rem;
    border-radius: 11rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 0.75rem;
    color: white;
}

.btn-register:hover {
    cursor: pointer;
}
