.btn-register {
    background: linear-gradient(180deg, #957DCD , #523D7F );
    border-radius: 0.9rem;
    margin-left: 1.68rem;
    margin-right: 1.68rem;
    height: 3rem;
    border-radius: 11rem
}

.btn-register:hover {
    cursor: pointer;
}
