.register{
    margin-left: 5.6rem;;
    font-size: 1.25rem;
    margin-top: 2rem;
}

.title-register {
    margin-bottom: 2rem;
    margin-left: 1rem;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Poppins';
    font-style: normal;
}

.fields {
    display: flex;
}

.text-state {
    padding: 1.1rem;
    font-weight: 600;
    margin-right: 20rem;
}

.select-register {
    width: 4.38rem;
    height: 2.5rem;
    margin-right: 1.88rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    width: 18rem;
    margin-top: 0.5rem;
    color: white;
    background: linear-gradient(180deg, #957DCD, #523D7F );
    background-color: #523D7F;
}

.select-city {
    display: block;
    margin-top: 2rem;
}

.text-city {
    margin-left: 1rem;
}

.text-date {
    padding: 1.7rem;
    font-weight: 600;
}

.input-date {
    width: 4.38rem;
    height: 1.57rem;
    margin-right: 1.88rem;
    border-radius: 0.5rem;
    width: 18rem;
    background: linear-gradient(180deg, #957DCD , #523D7F );
    margin-left: 1.68rem;
    margin-right: 1.68rem;
    height: 2.5rem;
    color: white;
    margin-top: 0.5rem;
}

.card-weather {
    background: linear-gradient(360deg, #957DCD 29%, #523D7F 100%);
    border-radius: 0.93rem;
    margin-left: 1rem;
    margin-right: 7rem;
    margin-top: 2rem;
    height: 18rem;
    display: flex;
    margin-bottom: 4rem;
}

.weather-shift {
    display: flex;
    padding-left: 2rem;
    margin-right: 6rem;
    margin-left: 2rem;
    margin-top: 3rem;
}

.text-register {
    padding: 1rem;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 0.75rem;
}


.fields-weather {
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

.select-weather {
    width: 4.38rem;
    height: 2.5rem;
    margin-right: 1.88rem;
    border-radius: 0.5rem;
    width: 9rem;
    background: linear-gradient(180deg, #957DCD , #523D7F );
    color: white;
    background-color: #523D7F;
}

.field-shift {
    display: grid;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.input-shift {
    margin-bottom: 1.5rem;
    height: 2.2rem;
    border-radius: 0.5rem;
    width: 3rem;
    color: white;
    background: linear-gradient(180deg, #957DCD , #523D7F );
}

.max {
    margin-right: 4rem;
    margin-top: 3rem;
    padding-left: 2rem;
}

.fields-temp {
    margin-bottom: 0.8rem;
}

.text-fields {
    font-weight: 600;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 0.75rem;
}

.max-temperature {
    margin-top: 0.5rem;
}

/* .fields-input {
    margin-top: 0.5rem;
} */

.min {
    margin-top: 3rem;
}  

.min-temperature {
    margin-top: 0.5rem;
}

.fields-input {
    margin-top: 0.5rem;
}

.input-temp {
    margin-bottom: 1.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    width: 3rem;
    color: white;
    background: linear-gradient(180deg, #957DCD , #523D7F );
}

.wind-speed {
    margin-top: 0.5rem;
}

.input-speed {
    height: 2.5rem;
    margin-right: 1.88rem;
    border-radius: 0.5rem;
    width: 3rem;
    color: white;
    background: linear-gradient(180deg, #957DCD , #523D7F );
}

.precipitation-humidity {
    display: flex;
}

.label-field {
    display: flow-root;
    margin-right: 4rem;
}

.btn {
    display: flex;
    justify-content: end;
    margin-right: 5rem;
    margin-bottom: 5rem;
}

.btn-register {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 0.75rem;
    height: 2.5rem;
    width: 15rem;
    color: white;
}